<ion-header>
  <ion-navbar color="blueish">
    <ion-title>Creating Project</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-label class="projectLabel" color="danger">Project Name:
    {{projectName | uppercase}}
  </ion-label>
  <form #f="ngForm" [formGroup]="generalForm" (ngSubmit)="onSubmit(f)">
    <ion-item color="blueish" no-padding-top  no-padding-bottom>
      <ion-label>Requirements </ion-label>
    </ion-item>
    <ion-list color="secondary">
      <ion-item>
        <ion-label>Local Contractors Only</ion-label>
        <ion-toggle [(ngModel)]="local" color="manageColor" formControlName="local"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Include Supplies</ion-label>
        <ion-toggle [(ngModel)]="supplies" color="manageColor" formControlName="supplies"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Include Install Costs</ion-label>
        <ion-toggle [(ngModel)]="installation" color="manageColor" formControlName="installation"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Licensed Contractor Only</ion-label>
        <ion-toggle [(ngModel)]="licensed" color="manageColor" formControlName="licensed"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Quote Requested</ion-label>
        <ion-toggle [(ngModel)]="quote" color="manageColor" formControlName="quote"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Call requested</ion-label>
        <ion-toggle [(ngModel)]="call" color="manageColor" formControlName="call"></ion-toggle>
      </ion-item>
      <ion-item color="rangeColor" no-padding-top  no-padding-bottom>
        Budget:
        <ion-badge item-end color="primary">{{budget || 100 | currency}}</ion-badge>
      </ion-item>
      <ion-item>
        <ion-range min="100" max="1000" step="10" [(ngModel)]="budget" formControlName="budget">
          <ion-icon small range-left name="logo-usd"></ion-icon>
          <ion-icon range-right name="logo-usd"></ion-icon>
        </ion-range>
      </ion-item>

      <ion-item color="rangeColor" no-padding-top  no-padding-bottom>
        <ion-label>Time Frame: </ion-label>
        <ion-badge item-end color="primary">{{timeFrame || 0}} weeks</ion-badge>
      </ion-item>
      <ion-item>
        <ion-range min="1" max="10" step="1" [(ngModel)]="timeFrame" formControlName="timeFrame">
          <ion-icon small range-left name="time"></ion-icon>
          <ion-icon range-right name="time"></ion-icon>
        </ion-range>
      </ion-item>

    </ion-list>
    <ion-card>
      <ion-card-header color="darksteel">Recordings</ion-card-header>
      <ion-card-content>
        <ion-item>
          <div ion-button color="manageColor" round (click)="addRecording()">
            <ion-icon name="mic" large padding-right></ion-icon>
            Add Recording
          </div>
        </ion-item>
        <ion-grid *ngFor="let audio of audios; let id = index">
          <ion-row no-padding no-margin>
            <ion-col col-2 align-self-center no-padding no-margin>
              <ion-icon name="trash" class="deleteIcon" large (click)="deleteAudio(id)"></ion-icon>
            </ion-col>
            <ion-col col-6 align-self-center no-padding no-margin>
              <ion-label padding="2px">{{audio.fileName | slice:18}}</ion-label>
            </ion-col>
            <ion-col col-2 align-self-center no-padding no-margin>
              <button ion-button clear item-end large (click)="play(id)">
                <ion-icon name="play"></ion-icon>
              </button>
            </ion-col>
            <ion-col col-2 align-self-center no-padding no-margin>
              <button ion-button clear item-end large (click)="pause(id)">
                <ion-icon name="pause"></ion-icon>
              </button>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-card-content>
    </ion-card>
    <ion-card>
      <ion-card-content>
        <p>Photos</p>
        <ion-item>
          <div ion-button color="manageColor" round (click)="takePhoto()">
            <ion-icon name="camera" large padding-right></ion-icon>
            Add Photo
          </div>
        </ion-item>
        <ion-grid>
          <ion-row>
            <ion-col col-6 *ngFor="let photo of photos; let id = index">
              <ion-card class="block">
                <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(id)"></ion-icon>
                <img [src]="photo" *ngIf="photo"/>
              </ion-card>
            </ion-col>
          </ion-row>
        </ion-grid>

      </ion-card-content>
    </ion-card>
    <ion-item>
    <ion-grid>
      <ion-row>
        <ion-col text-center col-sm-6>
          <button ion-button type="submit" round text-center color="secondary">Submit</button>
        </ion-col>
        <ion-col text-center col-sm-6>
          <button ion-button type="reset" round text-center color="secondary" (click)="resetForm()">Reset</button>
        </ion-col>
      </ion-row>
    </ion-grid>
    </ion-item>
  </form>
</ion-content>

