<!--
  Generated template for the GeneralPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="blueish">
    <ion-title>Creating Project</ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <ion-label class="projectLabel" color="danger">Project Name:
    {{projectName | uppercase}}
  </ion-label>
  <form #f="ngForm" [formGroup]="generalForm" (ngSubmit)="onSubmit(f)">
    <p>Requirements</p>
    <ion-list color="secondary">
      <ion-item>
        <ion-label>Local Contractors Only</ion-label>
        <ion-toggle [(ngModel)]="local" color="purpleish" formControlName="local"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Include Supplies</ion-label>
        <ion-toggle [(ngModel)]="supplies" color="purpleish" formControlName="supplies"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Include Install Costs</ion-label>
        <ion-toggle [(ngModel)]="installation" color="purpleish" formControlName="installation"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Licensed Contractor Only</ion-label>
        <ion-toggle [(ngModel)]="licensed" color="purpleish" formControlName="licensed"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Quote Requested</ion-label>
        <ion-toggle [(ngModel)]="quote" color="purpleish" formControlName="quote"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Call requested</ion-label>
        <ion-toggle [(ngModel)]="call" color="purpleish" formControlName="call"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-range min="100" max="1000" step="10" [(ngModel)]="budget" color="secondary" formControlName="budget">
          <ion-label range-left>$100</ion-label>
          <ion-label range-right>$1000</ion-label>
        </ion-range>
        <ion-label>APPROXIMATE BUDGET: {{budget || 100 | currency}}</ion-label>
      </ion-item>
      <ion-item>
        <p>Recordings</p>
        <div ion-button primary round (click)="addRecording()">
          <ion-icon name="mic" large padding-right></ion-icon>Add Recording
        </div>
      </ion-item>
      <ion-item *ngFor="let audio of audioList; index as i;">
        <p>{{audio.filename}}</p>
        <button ion-button clear item-end large (click)="playAudio(audio.filename, i)">
          <ion-icon name="mic"></ion-icon>
        </button>
      </ion-item>
    </ion-list>
    <ion-list radio-group [(ngModel)]="timeFrame" formControlName="timeFrame">
      <p>Time Frame</p>
      <ion-item>
        <ion-label>Immediate</ion-label>
        <ion-radio value="Immediate" checked></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Other</ion-label>
        <ion-radio value="Other"></ion-radio>
      </ion-item>
    </ion-list>
    <p>Photos</p>
    <ion-item>
      <div ion-button primary round (click)="takePhoto()">
        <ion-icon name="camera" large padding-right></ion-icon>Add Photo
      </div>
    </ion-item>
    <ion-grid>
      <ion-row>
        <ion-col col-6 *ngFor="let photo of photos; let id = index">
          <ion-card class="block">
            <ion-icon name="trash" class="deleteIcon" (click)="deletePhoto(id)"></ion-icon>
            <img [src]="photo" *ngIf="photo"/>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col text-center col-sm-6>
          <button ion-button type="reset" round text-center>Reset</button>
        </ion-col>
        <ion-col text-center col-sm-6>
          <button ion-button type="submit" round text-center>Submit</button>
        </ion-col>
      </ion-row>
    </ion-grid>
  </form>
  <ion-grid>
    <ion-row>
      <ion-col text-center col-sm-6>
        <button ion-button (click)="save()" round text-center>Save</button>
      </ion-col>
      <ion-col text-center col-sm-6>
        <button ion-button (click)="cancel()" round text-center>Cancel</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
