

  <ion-toolbar>
    <ion-segment [(ngModel)]="projectState" color="primary">
      <ion-segment-button value="open">
        Open
      </ion-segment-button>
      <ion-segment-button value="completed">
        Completed
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>


<ion-content padding>

  <span *ngIf="projectState == 'open';else completedProjects">
    <p ion-text color="secondary">List of open projects</p>
  <ion-list>
    <ion-item-sliding *ngFor="let project  of projectItems" #slidingItem>
      <ion-item>
        {{project}}
      </ion-item>
      <ion-item-options side="right">
        <button ion-button (click)="deleteProject(project)" color="danger" >Delete</button>
        <button ion-button (click)="closeProject(slidingItem)">Close</button>
      </ion-item-options>
    </ion-item-sliding>
    </ion-list>
    </span>

  <ng-template #completedProjects>
    <p ion-text color="secondary">List of completed projects</p>
    <ion-list>
      <ion-item-sliding *ngFor="let project  of completedProjectItems" #slidingItem>
        <ion-item>
          {{project}}
        </ion-item>
        <ion-item-options side="right">
          <button ion-button (click)="deleteCompletedProject(project)" color="danger" >Delete</button>
          <button ion-button (click)="closeProject(slidingItem)">Close</button>
        </ion-item-options>
      </ion-item-sliding>
    </ion-list>
  </ng-template>

  <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
</ion-content>
