// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

// Font path is used to include ionicons,
// roboto, and noto sans fonts
$font-path: "../assets/fonts";

// The app direction is used to include
// rtl styles in your app. For more info, please see:
// http://ionicframework.com/docs/theming/rtl-support/
$app-direction: ltr;

@import "ionic.globals";

// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/theming/overriding-ionic-variables/

// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.

$colors: (
  primary: #13aed4,
  secondary: #119fc1,
  darksteel: #0F8BA9,
  danger: #f53d3d,
  light: #f4f4f4,
  dark: #222,
  orangeish: #f98642,
  purpleish: #ac09f2,
  blueish: #99c9e8,
  blueish3: #c7dbfc,
  blueish2: #89b4d0,
  manageColor: #13aed4,
  bidColor: #1cb50e,
  publishColor: #07c6b2,
  shareColor: #f75e22,
  cloudColor: #f9dd13,
  rangeColor: #d5e9f6
);

$segment-button-md-opacity: .7;
$segment-button-opacity: .7;

// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$toggle-handle-background-color-on: true;
$toggle-active-color: red;
$toggle-md-track-background-color-on: hotpink;

.md-button-toggle-label-content {
  background-color: #8BC34A !important;
}
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here

// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";

// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/ionicons/

@import "ionic.ionicons";

// Fonts
// --------------------------------------------------

@import "roboto";
@import "noto-sans";
